@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    /* ### Primary */
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    /* ### Neutral */
    --Dark-gray: hsl(0, 0%, 59%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}
p{
    /* color: var(--Dark-grayish-blue); */
    color: var(--Dark-gray);
    font-size: .8em;
}
h2{
    color: var(--Very-dark-desaturated-blue);
    font-size: 1em;
}
span{
    font-weight: 400;
    /* color: var(--Dark-grayish-blue); */
    color: var(--Dark-gray);
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;   
    background-color: hsl(185, 75%, 39%);
    align-items: center;
}
.wrapper{
    width: 100%;
    height: 100%;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: -120px -490px, 990px 379px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin: 250px 50px;
    width: 400px;
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: 100%;  
    padding: 5px; 
}

.top_profile img{
    margin-top: 100px;
    border-radius: 100%;
    border: 6px solid white;
}
.info{
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info > *{
    margin-top: 20px;
}
.data p{
    margin-top: 10px;
}
.info_data{
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: center;
    justify-content:space-evenly;
    width: 100%;
    border-top: 1px solid var(--Dark-gray);
    padding: 30px;
}
.info_data .followers{
    margin-left: 0;
}
@media(max-width: 1440px){
    .wrapper{
        background-position: -300px -490px, 800px 379px;
    }
}

@media(max-width: 800px){
    .wrapper{
        background-position: -500px -490px, 400px 379px;
    }
}

@media(max-width: 400px){
    .card{
        width: 320px;
        margin-top: 150px;
    }
    .top_profile{
        margin-top: -31px;
    }
    .wrapper{
        background-position: -800px -490px, 50px 379px;
    }
}